<h2>Inbox</h2>
<table class="table">
  <thead class="thead-light">
    <th scope="col">UNID</th>
    <th scope="col">Modified</th>
  </thead>
  <tbody>
    {{#each messages}}
      <tr>
        {{#each this.doc}}
        <td>{{this}}</td>
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>